<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
/cars
<!--<p th:text="${message}"></p>-->
<!--/*@thymesVar id="cars" type=""*/-->
<!--<div th:text="${countInt}"></div>-->
<!--<span th:if="${countInt < 6}">first-->
<!--</span>-->
<!--<span th:unless="${countInt < 6}">second</span>-->
<table>
<!--    <tbody>-->
    <tr>
        <th>Model</th>
<!--        <th>Color</th>-->
<!--        <th>ID</th>-->
    <tr/>
<tr th:each="car : ${cars}">
    <td th:href="@{/{id}(id=${car.getId()})}" th:text="${car.getModel()}">car</td>
<!--                 {/{id}(id=${car.getId()})}-->
<!--    <div th:text="${car}"></div>-->
<!--    <p th:text="${car.getModel()}"></p>-->
</tr>

<!--    </tbody>-->
</table>
<hr/>
<a href="/new"> Create new car</a>

</body>
</html>