<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
/cars
<div>

<table>
    <thead>
        <tr>
            <th>Model</th>
            <th>Color</th>
            <th>Id</th>

            <th>Action</th>
            <th>Action</th>
        </tr>
    </thead>

<tbody>
    <tr th:each="car : ${cars}">

        <td th:text="${car.model}">Model</td>
        <td th:text="${car.color}">Color</td>
        <td th:text="${car.id}">Id</td>

        <td>
            <a th:href="@{/{id}(id = ${car.getId()})}">Edit</a>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/{id}(id = ${car.getId()})}">
                <input type="submit" value="Delete">
            </form>
        </td>

    </tr>
</tbody>
</table>
</div>

<hr/>
<a href="/new"> Create new car</a>

</body>
</html>