<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Edit car</title>
</head>
<body>
/edit
<form th:action="@{/{id}(id=${car.getId()})}" th:object="${car}" th:method="PATCH">
    <h2>Edit car</h2>

    <label for="model">Type model: </label>
    <input type="text" th:field="*{model}" id="model"/>
    <br/>
    <label for="color">Type color: </label>
    <input type="text" th:field="*{color}" id="color"/>
    <br/>
    <label for="id">Type id: </label>
    <input type="text" th:field="*{id}" id="id"/>
    <br/>
    <input type="submit" value="Update!"/>
</form>

<p th:text="${car.model}">VALUE</p>

</body>
</html>