<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<!--    <meta charset="UTF-8">-->
    <title>New Car</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
/new

<form th:method="POST" th:action="@{/}" th:object="${car}" >

    <h2>Create new car</h2>

    <label for="model">Type model: </label>
    <input type="text" th:field="*{model}" id="model"/>
    <br/>
    <label for="color">Type color: </label>
    <input type="text" th:field="*{color}" id="color"/>
    <br/>
    <br/>
    <input type="submit" value="Create!"/>

</form>
</body>
</html>