<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
/cars
<div>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>SurName</th>
            <th>Age</th>
            <th>Department</th>

            <th>Action</th>
            <th>Action</th>
        </tr>
    </thead>

<tbody>
    <tr th:each="user : ${users}">

        <td th:text="${user.model}">ID</td>
        <td th:text="${user.color}">Name</td>
        <td th:text="${user.id}">SurName</td>
        <td th:text="${user.id}">Age</td>
        <td th:text="${user.id}">Department</td>

        <td>
            <a th:href="@{/{id}(id = ${user.getId()})}">Edit</a>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/{id}(id = ${user.getId()})}">
                <input type="submit" value="Delete">
            </form>
        </td>

    </tr>
</tbody>
</table>
</div>

<hr/>
<a href="/new"> Create new car</a>

</body>
</html>